@{
    Layout = "_Layout.cshtml";
}
<div class="p-5 mb-4 bg-white rounded-3 shadow-sm">
  <div class="container-fluid py-5">
    <h1 class="display-6">Welcome to myproject</h1>
    <p class="col-md-8 fs-5">ASP.NET Core MVC (.NET 9) with layered architecture.</p>
    <a class="btn btn-primary btn-lg" href="/Users">Go to Users</a>
  </div>
</div>
